/* Custom Properties */
:root {
    --clr-primary-bright-orange: hsl(31, 77%, 52%);
    --clr-primary-dark-cyan: hsl(184, 100%, 22%);
    --clr-primary-verydark-cyan: hsl(179, 100%, 13%);

    --clr-neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-verylight-gray: hsl(0, 0%, 95%);

    --ff-lexend-deca: 'Big Shoulders Display', cursive;
    --ff-big-shoulders-display: 'Lexend Deca', sans-serif;
    --fw-lexend-deca-standard: 400;
    --fw-big-shoulders-display-bold: 700;
}

/* CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* General Styling */
  
 body {
    background-color: var(--clr-neutral-verylight-gray); 
    color: var(--clr-neutral-transparent-white);

    font-family: var(--ff-big-shoulders-display);
    font-size: 0.9375rem;

    display: grid;
    align-items: center;
    justify-content: center;
    gap: 0.5rem
 }

 .container {
    padding: 1.6rem;
 }

 /* First Card Styling */

 .sedans__container {
    background-color: var(--clr-primary-bright-orange);

    border-top-left-radius: 0.450rem;
    border-top-right-radius: 0.450rem;

    padding: 2.9rem;
 }

 /* Second Card Styling */

 .suvs__container {
    background-color: var(--clr-primary-dark-cyan);

    padding: 2.9rem;
 }

/* Third Card Styling */

 .luxury__container {
    background-color: var(--clr-primary-verydark-cyan);

    border-bottom-left-radius: 0.450rem;
    border-bottom-right-radius: 0.450rem;

    padding: 2.9rem;
 }

 /* Card Contents Styling */

 .card__title {
    color:var(--clr-neutral-verylight-gray);

    font-family:var(--ff-lexend-deca);
    font-size: 2.5rem;

    text-transform: uppercase;
 }

 .card__content p {
    line-height: 1.5rem;
 }

 .card__content {
    display: grid;
    gap: 1.4rem;
 }

 .card__button {
     background-color:var(--clr-neutral-verylight-gray);
     
     border: 2px solid transparent;
     border-radius: 5rem;

     max-width: 63%;
     padding: 0.65rem;
     cursor: pointer;
 }
/* Individual Button Styling */

 .sedans__container button {
    color: var(--clr-primary-bright-orange);
 }

 .suvs__container button {
    color:var(--clr-primary-dark-cyan);
 }

 .luxury__container button {
    color:var(--clr-primary-verydark-cyan);
 }

 /* Individual Button Behaviour on Hover and Active */

 .sedans__container button:is(:hover, :active) {
    background-color:var(--clr-primary-bright-orange);
    color:var(--clr-neutral-verylight-gray);

    border: 2px solid var(--clr-neutral-verylight-gray);
    border-radius: 5rem;
 }

 .suvs__container button:is(:hover, :active) {
    background-color:var(--clr-primary-dark-cyan);
    color:var(--clr-neutral-verylight-gray);

    border: 2px solid var(--clr-neutral-verylight-gray);
    border-radius: 5rem;
 }

 .luxury__container button:is(:hover, :active) {
    background-color:var(--clr-primary-verydark-cyan);
    color:var(--clr-neutral-verylight-gray);

    border: 2px solid var(--clr-neutral-verylight-gray);
    border-radius: 5rem;
 }

 /* Footer Styling */

.attribution {
    color: hsl(0, 0%, 0%); 
    font-size: 0.9rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Footer Behaviour on Hover and Active */

.attribution a:is(:hover, :active) { 
    color: hsl(0, 0%, 0%); 
}

/* Desktop Responsiveness */

@media (min-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .container {
       display: grid;
       grid-template-columns: repeat(3, minmax(0, 1fr));

       max-width: 900px;
    }

    .card__button {
        max-width: 70%;
        padding: 0.60rem;
        margin-top: 4rem;
        margin-bottom: 0.5rem;
    }

    .sedans__container {
        background-color: var(--clr-primary-bright-orange);
        
        border-top-right-radius: 0;
        border-top-left-radius: 0.450rem;
        border-bottom-left-radius: 0.450rem;
    
        padding: 2.3rem;
     }
    
     .suvs__container {
        background-color: var(--clr-primary-dark-cyan);
    
        padding: 2.3rem;
     }
    
     .luxury__container {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.450rem;
        border-bottom-right-radius: 0.450rem;
    
        padding: 2.3rem;
     }

     .attribution { 
        font-size: 1rem; 
    }
    
}